<ion-header>

</ion-header>

<ion-content>
        <ion-card style="height:98%">
            <ion-card-content>
                <ion-row>
                    <ion-col>
                        
                    </ion-col>
                    <ion-col align="center">
                        <div align="center">
                            <img src="../../assets/Image/logo - gume sme-01.png" style="width:225px; height :150px">
                        </div>
                    </ion-col>
                    <ion-col>
                        
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        
                    </ion-col>
                    <ion-col align="center">
                        <div align="center">
                            <h4>เข้าร่วมกับ GUME</h4>
                            <h5>แล้วต่อยอดธุรกิจไปด้วยกัน</h5>
                        </div>
                    </ion-col>
                    <ion-col>
                        
                    </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>

                  </ion-col>
                  <ion-col>
                      <ion-item>
                          <ion-label>Username </ion-label>
                          <ion-input></ion-input>
                      </ion-item>
                  </ion-col>
                  <ion-col>

                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>

                  </ion-col>
                  <ion-col>
                      <ion-item>
                          <ion-label>Password </ion-label>
                          <ion-input type="Password"></ion-input>
                      </ion-item>
                  </ion-col>
                  <ion-col>

                  </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
  
                    </ion-col>
                    <ion-col align="center">
                         <ion-button color="primary" (click)="Login()"><ion-icon name="log-in"></ion-icon>&nbsp;Login</ion-button>
                    </ion-col>
                    <ion-col>
  
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
  
                    </ion-col>
                    <ion-col align="center">
                         <ion-button (click)="LoginWithFacebook()" color="primary"><ion-icon name="logo-facebook"></ion-icon> Login with Facebook</ion-button>
                    </ion-col>
                    <ion-col>
  
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
  
                    </ion-col>
                    <ion-col align="center">
                         <ion-button (click)="LoginWithGoogle()" color="light"><ion-icon name="logo-google"></ion-icon> Login with Google</ion-button>
                    </ion-col>
                    <ion-col>
  
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
  
                    </ion-col>
                    <ion-col align="center">
                        <ion-label style="cursor:pointer;" color="primary"><u>ลืมรหัสผ่าน</u> </ion-label>
                    </ion-col>
                    <ion-col>
  
                    </ion-col>
                </ion-row>
                <ion-row>
                        <ion-col>
      
                        </ion-col>
                        <ion-col align="center">
                            <ion-label (click)="SingUp()" style="cursor:pointer;" color="dark"><u>ยังไม่ได้เข้าร่วม เข้าร่วมตอนนี้เลย</u> </ion-label>
                        </ion-col>
                        <ion-col>
      
                        </ion-col>
                    </ion-row>
            </ion-card-content>
        </ion-card>
</ion-content>
<ion-footer>
    <ion-toolbar>
      <ion-title style="font-size: 15px;" align="center">GUME @ </ion-title>
    </ion-toolbar>
</ion-footer>
  